@model ContactsManager.Domain.Entities.Contact

<form asp-controller="Home" asp-action="CreateContact">
  <div class="modal-content">
    <h3>Create new contact</h3>
    <hr>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="full_name" class="validate"
               type="text" asp-for="Name"
               onfocus="validate(this, 'name')"
               onkeyup="validate(this, 'name')"
               onblur="validate(this, 'name')">
        <label for="full_name">Full name</label>
        <span class="helper-text"
              data-error="Name must contain more than 2 symbols"
              data-success="Done">
        </span>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="mobile_phone" type="tel"
               asp-for="MobilePhone"
               onfocus="validate(this, 'phoneNumber')"
               onkeyup="validate(this, 'phoneNumber')"
               onblur="validate(this, 'phoneNumber')">
        <label for="mobile_phone">Mobile phone</label>
        <span class="helper-text"
              data-error="Wrong format (example: +375251112233)"
              data-success="Done">
          Phone number must be in international format (example: +375251112233)
        </span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">work</i>
        <input id="job_title" type="text" class="validate"
               asp-for="JobTitle">
        <label for="job_title">Job title</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">date_range</i>
        <input id="birth_date" type="text" class="datepicker"
               onclick="openDatepicker({
                 datepickerSelector: '#birth_date'
               })"
               asp-for="BirthDate">
        <label for="birth_date">Birth date</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="send-form-btn" class="btn waves-effect waves-light"
            type="submit" name="action"
            disabled>
      Create
      <i class="material-icons right">send</i>
    </button>
  </div>
</form>